body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#play{
    font-size: 80px;
    color: orange;
}

.btns{
    display: flex;
    gap: 15px;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    cursor: pointer;
}